.calculator {
    width: 25%;
    height: 600px;
    margin: 70px auto;
    font-family: sans-serif;
    border: 1.5px solid rgba(4, 7, 160, 0.822);
    color: rgb(218, 180, 11);
    background-color: rgba(4, 7, 160, 0.822);
    border-radius: 7px;
    box-shadow: inset 7px 10px 10px rgb(253, 238, 151);
}
#display  {
    width: 95%;
    border-radius: 5px;
    height: 85px;
    margin-right: 20px;
    font-size: 55px;
    text-align: right;
    margin-bottom: 7px;
    background-color: rgb(238, 175, 55, 0.5);
    color:rgba(238, 174, 10, 0.889);
    border: 10px solid rgb(25, 25, 144, 0.77);
    box-shadow: 3px 7px 7px rgb(212, 175, 55, 0.5);
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:35px;
    padding: 35px 35px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
button {
    border-radius: 50%;
    padding: 10px 10px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: rgba(238, 174, 144, 0.77);
    background-color: rgb(238, 175, 55, 0.5);
    cursor: pointer;
    border: 1px solid rgb(238, 175, 55, 0.5);
    box-shadow: inset 3px 3px 8px rgb(212, 175, 55, 0.5);
    transition: all 0.15s ease;
}
button:hover {
    box-shadow: inset 3px 3px 12px rgba(0, 0, 0, 0.4);
}
button:active {
    box-shadow: inset 3px 3px 8px rgb(212, 175, 55, 0.5);
}
